@model IEnumerable<BudgetMe.Models.Transaction>

@{
    ViewBag.Title = "Transacciones";
}

<h3 class="section-title">Transacciones</h3>

<p>
    @Html.ActionLink("Crear nueva", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        <span class="amount @(item.TransactionType == BudgetMe.Models.TransactionType.INCOME ? "amount-income" : "amount-expense")">
            <i class="fa fa-dollar"></i>
            @Html.DisplayFor(modelItem => item.Amount)
        </span>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TransactionType)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Category)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreatedAt)
    </td>
    <td>
        @Html.ActionLink("Detalle", "Details", new { id = item.Id }) |
        @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>